@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './partials/MainHeader';
@import './partials/jumbodron';
@import './partials/var';
@import './partials/Comics';
@import './partials/footer';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol, menu{
  list-style: none;
}
a{
  color: currentColor;
  text-decoration: none;
}
img{
  max-width: 100%;
}
  
  
.container{
  max-width: 1200px;
  margin: 0 auto;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}