

@import './var.scss';

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
    .main-nav{ 
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        gap: 15px;
        .nav-link {
          font-weight: 600;
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          a{
            color: currentColor;
            text-decoration: none;
          }
          &.active, &:hover{
              color: $my-blue;
            }
          &.active::after, &:hover::after{
            content: "";
            height: 5px;
            background-color: $my-blue;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            
          }  
        }
      }
    }
}